<div class="container" style="margin-bottom: 30px;" *ngIf="diary">
      <h1 style="text-align: center;">My Diary </h1>
      <hr>
      <div class="row">
        <button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right;">Add To My Collection</button>
        <div class="col-sm-6 col-xl-3" *ngFor="let diary of diary" [routerLink]="['/diary/', diary.id]">
          <div class="card" style="width: 100%;">
              <img src="../../assets/received_1184686545287580.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{diary.title}}</h5>
              <p class="card-text">{{diary.description}}</p>
              <p class="card-text">{{diary.date | date}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
      </div>
</div>

    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add To Collection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Diving Day 1" [(ngModel)]="title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addEntry()">Save changes</button>
        </div>
      </div>
    </div>
  </div>