
<main *ngIf="diary">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../assets/received_1184686545287580.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="100%" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Miguel Aquino, Certified Diving Instructor</h1>
        <p class="lead">A day in my life as an avid diver.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/diary">My Diary</button>
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add To My Collection</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Equal width cols, same on all screen sizes -->
<div class="container" style="margin-bottom: 30px;">
  <hr>
    <h1 style="text-align: center;">Recent Events</h1>
    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-6 col-xl-3" *ngFor="let diary of diary" [routerLink]="['/diary/', diary.id]">
        <div class="card" style="width: 100%;">
            <img src="../../assets/received_1184686545287580.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{diary.title}}</h5>
              <p class="card-text">{{diary.description}}</p>
              <p class="card-text">{{diary.date | date}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add To Collection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Diving Day 1" [(ngModel)]="title">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addEntry()">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCr4sKDIA1F3jl9GhTad9D5svkwPDMia-o
    &q=Space+Needle,Seattle+WA">
</iframe>
